extend default

block content
    -var ll1 = "https://github.com/vlad-the-EPIChacker/web1"
    p.
        This explains how to create a website using node.js and express on Mac Os. By the end of this tutorial, you should have a website hosted on a local machine.

        Credits to #[a(href="https://github.com/bengourley") bengourley] for the original code
    ol
        li Clone this project from github #[a(href="https://github.com/vlad-the-EPIChacker/web1") here]. <br /> #[code() git clone #{ll1}]
        li Install node.js using homebrew <br /> #[code() brew install npm]
        li Install express and logger(morgan) using homebrew <br /> #[code() npm i --save express@4 morgan@1]

